.item-det {
  margin: 50px 0;
}

.items-view {
  width: 100%;
  background-color: beige;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px 0 20px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(204, 175, 181, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(204, 175, 181, 1);
  box-shadow: 10px 10px 5px 0px rgba(204, 175, 181, 1);
}

.items-view li {
  margin-bottom: 10px;
}

.items-view h5 {
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  color: #0808d6ba;
  font-family: monospace;
  text-decoration: underline;
}

.items-view .del-btn {
  color: red;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 20px;
  font-size: large;
}
